.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
/*estilo de la foto*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        box-shadow: 3px 3px 3px grey;
        border-radius: 100%;
        left: 3%;
        top: 600px;
    }
    #nombre{
        font-weight: bold;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        box-shadow: 3px 3px 3px grey;
        border-radius: 100%;
        left: 33%;
        top: 630px;
    }
    #nombre{
        font-weight: bold;
        margin-top: 20%;
    }
}

/*etiqueta nombre*/
